# Mode d'exécution : dev ou prod
mode=prod

# Configuration de la base de données
database_host=localhost
database_port=3306
database_name=base_de_donnees
database_user=utilisateur
database_pass=mot_de_passe
